

<p id="notice"><%= notice %></p>
 <div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text-center">Welcome back <%= @user.name %></h1>
        <p class="text-center" >
           <strong>Username:</strong>
           <%= @user.username %>
        </p>
        <p class="text-center" >
           <strong>Email:</strong>
           <%= @user.email %>
        </p>
        <p class="text-center">
          <%= link_to 'Edit User Profile', edit_user_path(@user), class: "btn btn-default" %> 
          <%= link_to 'My Tasks', tasks_path, class: "btn btn-default" %>
        </p>
    </div>
</div>